* {
    margin: 0px;
    padding: 0px;
}

a{
  
    text-decoration: none;
    color: black;
}

a:hover {

    cursor: pointer;
}

.login--button {
    color: black;
}

.form {

    background-image: url('../../assets/images/background.jpg');
    background-repeat: no-repeat;
    background-position-y: -5rem;

    display: flex;

    position: absolute;

    width: 100vw;
    height: 100vh;

    justify-content: center;
    align-items: center;
}

.main--form {

    display: flex;

    justify-content: center;
    align-items: center;

    text-align: center;

    height: 50vh;
    width: 40rem;

    background-color: rgba(0, 0, 0, 0);
}

.login--form {

    display: flex;
    flex-direction: column;    
}

.login--form button {

    margin-top: 2rem;
    width: 33rem;
    height: 5rem;

    border-radius: 30px;

    font-size: 2rem;   

    outline: none;

    border: 0px;
}

.login--form button:hover {

    transition: 0.3s;

    cursor: pointer;

    background-color: black;
    color: red;

    border: 0px

}

.login--input {
    
    height: 5rem;
    width: 30rem;

    padding: 1.4rem;

    font-size: 2rem;

    border-radius: 30px;

    outline: none;
}
