* {
    font-family: 'Montserrat', sans-serif;
}

header {

    display: flex;

    justify-content: space-between;

    margin: 0px;
    padding: 0px 2rem;

    align-items: center;

    height: 5rem;

    background-color: blueviolet;

}

main {
    display: flex;
}

a {
    margin-right: 2rem;
}

.buttons {

    display: flex;

    flex-direction: column;
}

.buttons button {

    outline: none;

    background-color: blueviolet;

    color: rgb(211, 211, 211);

    border: 0px;

    font-size: 2rem;

    margin-top: 10rem;
    margin-bottom: 10rem;
    height: 5rem;
    width: 5rem;

    box-shadow: 0 2px 4px 0 rgba(0,0,0,6);
}

.buttons button:hover {

    cursor: pointer;
    

}

ul {
    display: flex;
    flex-wrap: wrap;

    max-width: 97rem;

    margin-top: 2rem;
    margin-left: 3rem;

    list-style-type: none;
}

ul li {

    text-decoration-style: none;

    flex:1 1 1;
    margin: 20px;
}

.card {

    display: flex;
    
    padding: 0.3rem 1rem;
    padding-bottom: 0rem;

    background-color: blueviolet;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    height: 12rem;
    width: 25rem;

    border-radius: 10px;
}

.card:hover {

    transition: 0.3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,6);
}

.card-button {

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-button button {

    position: relative;

    bottom: 11.5rem;
    left: 12rem;
    

    background-color: blueviolet;
    border: 0px;

    outline: none;

    text-decoration-line: none;

    cursor: pointer;
}

.card-button img {

    background-color: blueviolet;
    
}

header a{

    font-size: 2rem;

    color: rgb(189, 189, 189);
}

header a:hover {

    color: white;
}

.card-image {
    
    width: 40%;
    height: 100%;
    
    margin-top: 1.2rem;

    text-align: center;
}

.card-name {

    text-align: center;

    margin-top: -0.7rem;

    font-size: 0.8rem;
}

.card-stats {

    width: 60%;
    height: 100%;

    display: flex;

    align-items: center;
    justify-content: center;
    margin-top: 1rem;

    justify-content: space-around;

    font-size: 1.3rem;
    font-weight: 500;
}

footer {

    display: flex;

    align-items: center;
    justify-content: center;

    height: 3rem;

    color: white;

    background-color: blueviolet;
}